{% extends 'base.html' %}
{% load static %} 


{% block head %}
<title>Корзина</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/bootstrap4/bootstrap.min.css'%}">
<link href="{% static 'myapp/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/cart.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/cart_responsive.css'%}">
{% endblock %}


{% block home %}
<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'myapp/images/cart.jpg'%}" data-speed="0.8"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="home_container">
                <div class="home_content">
                    <div class="home_title">Корзина</div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{% url "myapp:index" %}">Главная</a></li>
                            <li>Корзина</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block main %}
{% load cart_tags %}
{% user_carts request as carts%}
<div class="cart_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cart_title">ваша корзина покупок</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cart_bar d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_bar_title_name">Товар</div>
                    <div class="cart_bar_title_content ml-auto">
                        <div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
                            <div class="cart_bar_title_price">Цена</div>
                            <div class="cart_bar_title_quantity">Количество</div>
                            <div class="cart_bar_title_total">Итого</div>
                            <div class="cart_bar_title_button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for cart in carts %}
        <div class="row">
            <div class="col">
                <div class="cart_products">
                    <div class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                        <!-- Product Image -->
                        <div class="cart_product_image"><img src="{{cart.product.image.url}}" alt="" width="54" height="74"></div>
                        <!-- Product Name -->
                        <div class="cart_product_name"><a href="product.html">{{cart.product.name}}</a></div>
                        <div class="cart_product_info ml-auto">
                            <div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
                                <!-- Product Price -->
                                <div class="cart_product_price">{{cart.product.price}} руб.</div>
                                <!-- Product Quantity -->
                                <div class="product_quantity_container">
                                    <div class="product_quantity clearfix">
                                        <input id="quantity_input" type="text" pattern="[0-9]*" value="{{cart.quantity}}">
                                        <div class="quantity_buttons">
                                            <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
                                            <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Products Total Price -->
                                <div class="cart_product_total">{{cart.products_price}} руб.</div>
                                <!-- Product Cart Trash Button -->
                                <div class="cart_product_button">
                                    <a href="{% url "cart:cart_remove" cart.id %}" class="cart_product_remove"><img src="{% static 'myapp/images/trash.png'%}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
                    <button class="button_clear cart_button">clear cart</button>
                    <button class="button_update cart_button">update cart</button>
                    <button class="button_update cart_button_2 ml-md-auto">continue shopping</button>
                </div>
            </div>
        </div>
        <div class="row cart_extra">
            <!-- Cart Total -->
            <div class="col-lg-6 offset-lg-3">
                <div class="cart_total">
                    <div class="cart_title">Общая стоимость товаров</div>
                    <ul>
                        <li class="d-flex flex-row align-items-center justify-content-start">
                            <div class="cart_total_title">Итого</div>
                            <div class="cart_total_price ml-auto">{{carts.total_price}} руб.</div>
                        </li>
                    </ul>
                    {% if carts %}
                        <button class="cart_total_button">proceed to checkout</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}