{% load static %}
<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <div class="logo menu_mm"><a href="{% url 'myapp:index' %}">Wish</a></div>
    <div class="search">
        <form action="#">
            <input type="search" class="search_input menu_mm" required="required">
            <button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="{% static 'users/images/magnifying-glass.svg'%}" alt=""></button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li><a href="{% url 'myapp:index' %}">home</a></li>
            <li><a href="{% url 'myapp:clothes' %}">clothes</a></li>
            <li><a href="{% url 'myapp:accessories' %}">accessories</a></li>
            <li><a href="{% url 'myapp:lingerie' %}">lingerie</a></li>
            <li><a href="{% url 'myapp:contact' %}">contact</a></li>
        </ul>
    </nav>
</div>